{% if request.user.is_authenticated %}

<p> {{request.user}} </p>
<hr>
<a href={% url 'logout' %}>Salir</a>

{% else %}

<a href={% url 'login' %}>Ingresar</a>

{% endif %}



<h1>Lista de pendientes</h1>
<a href= {% url 'crear-tarea' %} >Crear tarea</a>
<a href={% url 'inicio' %}>Inicio</a>

<form action="" method="get">
    <input type="text" name=area-buscar value="{{valor_buscar}}">
    <input type="submit" value="Buscar">

</form>

<table>

    <tr>
        <th>Elementos</th>
        <th></th>
        <th></th>
    </tr>

    {% for tarea in tareas %}
    <tr>
        <td> {{tarea.titulo}} </td>
        <td> <a href= {% url 'tarea' tarea.id %} >Ver</a> </td>
        <td> <a href= {% url 'editar-tarea' tarea.id %} >Edirar</a> </td>
        <td> <a href= {% url 'eliminar-tarea' tarea.id %} >Eliminar</a> </td>
    </tr>

    {% empty %}
    <h3>No hay elementos en la lista</h3>

    {% endfor %}

</table>